---
import Pic from '../components/Pic.astro';
import TextSection from '../components/TextSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Destra Robotics">
  <TextSection title="Started as a Student Project" bright={true}>
    The project was launched in 2021 at the Berlin University of Applied
    Sciences as a student project of the "Humanoid Robotics" course. The task
    was to develop a robotic hand compatible with the Franka Emika Panda robot
    and capable of grasping various benchmarks. under the direction of Prof. Dr.
    Hannes Höppner, director of the Soft Interactive Robotics Laboratory
    (SIRo-Lab), 7 different graspers and hands were developed
    <Pic
      slot="image"
      alt="black robot hand"
      src={import('../assets/hand_blue_illustration.png')}
      widths={[600, 1200]}
      aspectRatio={1}
      sizes="(max-width: 600px) 300px, 100vw"
      imgClass="h-full object-contain"
      class="w-auto h-80 basis-1/3"
    />
  </TextSection>
  <TextSection
    title="Continuation of the project"
    bright={false}
    imageAlign="left"
  >
    After the project was completed, we became interested and continued to
    develop our hand. We documented the process on social media platforms such
    as twitter and were able to attract the attention of named manufacturers
    such as ROBOTIS.
    <Pic
      slot="image"
      alt="black robot hand"
      src={import('../assets/group_photo.png')}
      aspectRatio={1.5}
      widths={[600, 1200]}
      sizes="(max-width: 600px) 300px, 100vw"
      imgClass="h-full object-contain"
      class="w-auto h-72 basis-1/3"
    />
    <a
      slot="button"
      class="flex items-center gap-2 px-4 py-2 text-xl mt-2 transition-all cursor-pointer hover:bg-[#1981c6] bg-[#1D9BF0] text-bright font-mono"
      href="https://twitter.com/Destra41985317"
      target="_blank"
    >
      Follow on Twitter
      <img
        src="/images/icons/icon-twitter-white.svg"
        alt="Twitter Logo"
        class="h-3"
      />
    </a>
  </TextSection>
  <TextSection title="What is our goal?" bright={true}>
    Our goal is to significantly reduce the costs of robotic components and
    prostheses through the novel additive manufacturing method of 3D-printing.
    This can make robotics accessible to more people, which can be particularly
    useful in teaching. The manufacturing process also enables individualization
    of the parts and fast production.
  </TextSection>
</Layout>
