---
import ContentPage from '../layouts/Contentpage.astro';
---

<ContentPage title="Kontakt">
  <h1 class="text-4xl fadein mb-6">Kontakt</h1>
  <p class="fadein">
    <a href="mailto:leon.kollofrath@gmail.com">leon.kollofrath@gmail.com</a>
  </p>
</ContentPage>
