---
import ContentPage from '../layouts/Contentpage.astro';
---

<ContentPage title="Kontakt">
  <h1 class="text-4xl fadein mb-6">Kontakt</h1>
  <p class="fadein">Hier müssen die Kontaktdaten hin</p>
</ContentPage>
