---
import ContentPage from '../layouts/Contentpage.astro';
---

<ContentPage title="Impressum">
  <h1 class="text-4xl fadein mb-6">Impressum</h1>
  <p class="fadein">Hier muss der Text für das Impressum hin</p>
</ContentPage>
