---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Destra Robotics">
  <div class="bg-bright p-10">
    <h1 class="text-4xl fadein mb-6">Impressum</h1>
    <p class="fadein">Hier muss der Text für das Impressum hin</p>
  </div>
</Layout>
