---
import Pic from '../components/Pic.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Destra Robotics">
  <div class="bg-primary">
    <div
      class="flex flex-col items-center max-w-screen-lg gap-6 p-10 m-auto text-bright md:flex-row"
    >
      <div class="flex flex-col items-center gap-6 basis-1/2">
        <h2 class="text-3xl fadein">Polyurthan coating</h2>
        <p class="font-light text-center fadein">
          The fingers are covered by a protective layer of polyurethane to
          achieve a greater grip when grasping. Polyurethane is a polymer
          composed of organic units joined by carbamate links. This enables the
          material to be flexible and durable at the same time, which is why no
          spring elements are required as restoring force
        </p>
      </div>
      <Pic
        alt="Polyurthan coating for the skin"
        src={import('../assets/coating.png')}
        imgClass="object-contain"
        class="w-full max-w-sm fadein md:max-w-none md:basis-1/3 shrink-0"
      />
    </div>
  </div>
  <div class="bg-bright">
    <div
      class="flex flex-col items-center max-w-screen-lg gap-6 p-10 m-auto text-primary md:flex-row-reverse"
    >
      <div class="flex flex-col items-center gap-6 basis-2/3">
        <h2 class="text-3xl fadein">Fingerdesign</h2>
        <p class="font-light text-center fadein">
          The fingers single components are fully 3D printed and have two ball
          bearings per joint. These reduce friction during grasping and ensure a
          longer service life. The protective cover is screwed on at the side
          using threaded inserts.
        </p>
        <div
          class="px-6 py-1 mt-2 transition-all duration-300 rounded-full shadow-sm cursor-pointer fadein hover:shadow-md hover:bg-dark bg-primary text-bright"
        >
          More Info
        </div>
      </div>
      <Pic
        alt="rendering of the finger"
        src={import('../assets/finger.png')}
        imgClass="object-contain"
        class="w-full max-w-sm fadein md:max-w-none md:basis-1/3 shrink-0"
      />
    </div>
  </div>
  <div class="bg-bright">
    <div
      class="flex flex-col-reverse items-center max-w-screen-lg gap-6 p-10 m-auto text-primary md:flex-row-reverse"
    >
      <Pic
        alt="rendering of the mount"
        src={import('../assets/mount.png')}
        imgClass="object-contain"
        class="w-full max-w-sm fadein md:max-w-none md:basis-1/3 shrink-0"
      />
      <div class="flex flex-col items-center gap-6 basis-2/3">
        <h2 class="text-3xl fadein">Engine mount</h2>
        <p class="font-light text-center fadein">
          The motor mount provides space for four Dynamixel XL-330 inside the
          casing and two additional motors attached to the side. These are
          required for the control of the oppunable thumb. On the left side the
          microcontroller and a voltage converter find their place. The fingers
          are removably attached to the motor mount and can be easily removed
          for maintenance and replacement.
        </p>
        <div
          class="px-6 py-1 mt-2 transition-all duration-300 rounded-full shadow-sm cursor-pointer fadein hover:shadow-md hover:bg-dark bg-primary text-bright"
        >
          More Info
        </div>
      </div>
    </div>
  </div>
</Layout>
