---
export interface Props {
  title: string;
}

const { title } = Astro.props;
const year = new Date().getFullYear();
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="/fonts/fonts.css" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex, nofollow" />
    <title>{title}</title>
  </head>
  <body>
    <header class="bg-white">
      <div class="flex justify-between max-w-screen-lg py-6 pl-10 pr-16 m-auto">
        <a href="/">Destra Robotics</a>
        <div class="hidden gap-10 uppercase links md:flex">
          <a class="hover:underline" href="#">About</a>
          <a class="hover:underline" href="#">Team</a>
          <a class="hover:underline" href="#">Project</a>
          <a class="hover:underline" href="#">Contact</a>
        </div>
      </div>
    </header>
    <slot />
    <footer>
      <div class="bg-primary">
        <div
          class="flex max-w-screen-lg gap-10 px-10 py-6 m-auto text-gray-300"
        >
          <div>Destra Robotics</div>
          <a class="hover:underline" href="#">Impressum</a>
          <div>Copyright - {year}</div>
        </div>
      </div>
    </footer>
  </body>
</html>
